<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>


<body>

    <div class="justify-content-center text-center mt-5">

        <h1>The Wolves</h1>

        <table class="table table-hover table-bordered mt-5 mb-5" style="width: 1300px; margin: 0 auto;">
            <thead>
                <tr>
                    <th scope="col">Wolf Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Fact</th>
                </tr>
            </thead>
            <tbody>
                <% for (let wolf in wolves) { %>
                <tr>
                    <th scope="row"><a href="/wolves/<%= wolves[wolf].id %>"><%= wolves[wolf].name %></a></th>
                    <td><%= wolves[wolf].location %></td>
                    <td><%= wolves[wolf].fact %></td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <a href="/wolves/new">Add a Wolf</a>

    </div>

</body>


</html>