<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wolf</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>


<body>

    <div class="mt-5 ml-5">

        <h1>About <%= wolves.name %></h1>

        <img src="/images/<%= wolves.name %>.jpg" alt="wolf">

        <p class="mt-5">Location: <%= wolves.location %></p>
        <p>Fact: <%= wolves.fact %></p>

        <a href="/">Go back</a>

    </div>

</body>


</html>