
    <form (submit)="commentSubmit(cake._id)">
        Rating <select name="rating" [(ngModel)]="newComment.rating">
            <option value="1">1 Star</option>
            <option value="2">2 Star</option>
            <option value="3">3 Star</option>
            <option value="4">4 Star</option>
            <option value="5">5 Star</option>
        </select>
        Comment <input type="text" name="comment" [(ngModel)]="newComment.comment">
        <input type="submit" value="Rate">
    </form>


