<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>


<body class="d-flex justify-content-center">

    <div class="wrapper">

        <h4 class="mt-5">Submitted Information:</h4>

        <p>Name: <%= results.name %> </p>

        <p>Dojo Location: <%= results.dojos %> </p>

        <p>Favorite Language: <%= results.language %> </p>

        <p>Comments: <%= results.comment %> </p>

        <a href="/reset">Go back</a>

    </div>

</body> 


</html>