<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Quote</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>


<body class="d-flex justify-content-center text-center">

    <div class=" d-flex justify-content-center mt-5 border border-primary rounded" style="width: 1000px;">

        <div class="mt-5" style="width: 500px;">

            <h1>Welcome to Quoting Dojo!</h1>

            <form action="/addQuote" method="post">

                <div class="form-group mt-3">
                    <label for="">Your Name:</label>
                    <input class="form-control" type="text" name="name" id="">
                </div>

                <div class="form-group mt-3">
                    <label for="quote">Your Quote: </label>
                    <textarea class="form-control" name="quote" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="form-group text-center">
                    <button class="bg-success text-white mt-3"> Add my quote!</button>
                </div>

            </form>

            <a href="/quotes"><button class="bg-info text-white mb-5">Skip to quotes!</button></a>

            <% if (messages.form) { %>
                <% for (var error of messages.form) { %>
                <p><%= error %></p>
                <% } %>
            <% } %>

        </div>

    </div>

</body>


</html>