<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>


<body class="d-flex justify-content-center">

    <div class=" d-flex justify-content-center mt-5 border border-primary rounded" style="width: 1000px;">

        <div style="width: 700px;">

            <h1>Here are the awesome quotes!</h1>

            <% for (let i in info) { %>
                <p>"<%= info[i].quote %>"</p>
                <p>-- <%= info[i].name %> at <%= moment(info[i].createdAt).format("hh:mm a, MMMM DD, YYYY") %> </p>
            <% } %>

        </div>

        <a href="/">Go back</a>

    </div>

</body>


</html>