<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>


<body>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Nissan</th>
                <td>GTR</td>
                <td><img class="w-25" src="/images/GTR.jpg" alt="GTR"></td>
            </tr>
            <tr>
                <th scope="row">Chevy</th>
                <td>Camaro</td>
                <td><img class="w-25" src="/images/Camaro.jpg" alt="'69 Camaro'"></td>
            </tr>
            <tr>
                <th scope="row">Hyundai</th>
                <td>Elantra</td>
                <td><img w-100 src="/images/elantra.jpg" alt="Elantra"></td>
            </tr>
        </tbody>
    </table>
</body>


</html>