<div class="wrapper">

    <div class="border">

        <div class="info">

            <h1>San Jose, CA</h1>

            <ul>

                <li>Humidity: {{weather.main.humidity}}</li>
                <li>Temperature (Average): {{weather.main.temp}}</li>
                <li>Temperature (High):{{weather.main.temp_max}}</li>
                <li>Temperature (Low): {{weather.main.temp_min}}</li>
                <li>Status: {{weather.weather[0].main}}</li>

            </ul>

        </div>

        <div class="image">
            <img src="https://images.pexels.com/photos/462331/pexels-photo-462331.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
        </div>

    </div>

</div>
