.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

img {
    width: 500px;
}

.info {
    margin-right: 20px;
}

.border {
    display: flex;
    align-items: center;
    border: 3px solid black;
    width: 800px;
    height: 400px;
}